---
import { Image } from 'astro:assets';
import featuresdiagonal from '../assets/images/featuresdiagonal.jpg';
import ees from "../assets/images/ees.jpg";

---

<section class="bg-bgDark1 flex w-full flex-col items-center justify-center">
  <div class="shape-divider-bottom-1665696614">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
      class="bg-bgDark2 fill-bgDark2"
    >
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="bg-bgDark1 fill-bgDark1"></path>
    </svg>
  </div>
  <div class="fade-in bg-bgDark1 w-full">
    <div
      class="bg-bgDark1 mx-auto flex flex-col justify-center pt-12 pb-8 md:w-4/5 lg:flex-row lg:pt-24 lg:pb-20 xl:w-[1050px] 2xl:w-[1150px]"
    >
      <div class="lg:mx-unset mx-auto flex w-3/4 flex-col lg:w-1/2">
        <span class="block-subtitle">Acelera tu Exito</span>
        <h2 class="block-big-title mt-10 mb-8 text-4xl lg:text-5xl">
          Metodologías Innovadoras
        </h2>
        <p class="text-secondaryText mb-16 leading-loose">
          Integramos lo mejor de las pedagogías más reconocidas del mundo para crear una experiencia educativa única y transformadora. Nuestro enfoque respeta los ritmos naturales de aprendizaje y fomenta el desarrollo integral de cada niño.
        </p>
        <button
          class="contained-button mr-10 h-12 w-[210px]"
          data-open-modal
          aria-label="Get started"
        >
          Get Started
        </button>
      </div>
      <div class="mx-auto flex w-4/5 justify-center pt-16 lg:w-1/2 lg:pt-0 lg:pl-16">
        <Image
          src={ees}
          alt="Feature image"
          class="main-border-gray rounded-xl"
          loading="eager"
          decoding="sync"
        />
      </div>
    </div>
  </div>
  <div class="shape-divider-top-1665696661 w-full">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
      class="bg-bgDark2 fill-bgDark2"
    >
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="bg-bgDark1 fill-bgDark1"></path>
    </svg>
  </div>
</section>
